<% include partials/header %>
<div class="form-container">
<h1 id="form-header">Add Customer</h1>
  <% if (errors != undefined){ %>
    <ul id="error-list">
      <% errors.forEach(error => { %> <!-- runs if error occurs when retrieving from database -->
        <li><%= error.msg %></li>
        <% }); %>
    </ul>
  <% } %>

 <form method="POST" action="/users/add"> <!--POST is request method. action = route info to be submitted to -->
      <label for="first_name">First Name</label><br>
       <input type="text" name="first_name" id="first_name">
       <br>
      <label for="last_name">Last Name</label><br>
       <input type="text" name="last_name" id="last_name">
       <br>
      <label for="email">Email</label><br>
       <input type="text" name="email" id="email">
       <br><br>
     <input type="submit" value="Submit">
 </form>
</div>
<div class="user-list">
     <h1><%= title %></h1>
     <ul>
     <% users.forEach(user => { %>
       <li><%= user.first_name %> <%= user.last_name %> - <a href="#" class="deleteUser" data-id="<%= user._id %>">Delete</a></li>
<!--data.id is set to equal the _id of the chosen user-->
     <%  }) %>
   </ul>
  </div>
 <% include partials/footer %>
